// Colors
$primary-color:              #00C2F0;
$primary-color-light:        #7fe4fd;
$primary-color-dark:         #059DC3;

$secondary-color:            #E8126B;
$secondary-color-dark:       #b90e55;

$ero-gray:                   #8C9AA8;
$ero-gray-light:             #c5ccd3;
$ero-gray-lighter:           #e2e6e9;
$ero-gray-lightest:          #f0f0f0;

$online:  #43C609;
$away:    #FF922E;
$offline: $ero-gray;