// global
@font-face {
	font-family: 'GothamRoundedMedium';
	src: asset-url("GothamRoundedMedium.otf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'GothamRoundedBook';
	src: asset-url("GothamRoundedBook.otf");
	font-style: normal;
	font-weight: normal;
}

body {
	font-family: 'GothamRoundedMedium';
	font-size: 14px;
}

.main-container {
	margin-top: 0px;

	@media (max-width: 1199px) {
		// padding: 0px;
		margin-left: 80px;
		width: calc(100% - 80px);
	}

	@media (max-width: 768px) {
		margin-top: 70px;
		// padding: 0px;
		margin-left: 0px;
		width: 100%;
	}
}

.divider {
	height: 1px;
	width: 100%;
	background: $ero-gray-lighter;
}

.text-secondary {
	color: $btn-secondary-bg;
}

.text-gray {
	color: $ero-gray;
}

.text-book {
	font-family: 'GothamRoundedBook';
}

.streach-me {
	// artificial negative margin for selected layout elements
	margin-left: -15px;
	margin-right: -15px;
}

// layout parts
.featured {
	background: $featured-bg;
	display: flex;
	align-items: center;
	height: 100px;
	padding: 0px 30px;
	overflow: hidden;

	.img-wrapper {
		padding: 15px;

		img {
			height: 70px;
			width: 70px;
			border-radius: 50%;
		}
	}

	@media (max-width: 1199px) {
		padding: 0px 15px;
	}
}

// group-details
.group-details {
	background: $brand-primary;
	height: 250px;
	padding: 30px 60px 30px 45px;

	@media (max-width: 1199px) {
		padding: 30px 60px 30px 30px;
	}

	.group-details-wrapper {
		display: flex;
		align-items: center;
		position: relative;
		height: 100%;
		border-radius: 25px;
		background: $white;
		padding: 15px;

		a {
			height: 100%;
		}

		img {
			border-radius: 25%;
			margin-right: 15px;
			max-height: 100%;
			max-width: 66px;

			@media (min-width: 576px) {
				border-radius: 25px;
				max-height: 100%;
				max-width: 120px;
			}

			@media (min-width: 1199px) {
				border-radius: 25px;
				max-height: 100%;
				max-width: inherit;
			}
		}

		.text {
			.group-info {
				p {
					padding-right: 40px;
					&:last-child {
						padding-right: 0px;
					}
				}
			}
		}

		.btn-plus {
			position: absolute;
			right: -30px;
			top: 15%;
		}

		.btn-eye {
			position: absolute;
			right: -30px;
			bottom: 15%;
		}
	}
}

.sidebar {
	position: fixed;
	width: calc(1110px * 0.25); // (1140px - 30px) * 0.25 this is for 1140px container
	left: calc((100% - (1110px))/2);
	padding: 15px 27px;
	background: $white;
	z-index: 2;
	top: 0px;
	bottom: 0px;

	.logo-wrapper {
		margin-bottom: 29px;
		text-align: center;
	}

	.logged-out {
		text-align: center;
		padding: 30px 15px;
		border-top: 1px $ero-gray-lighter solid;
		border-bottom: 1px $ero-gray-lighter solid;
	}

	.logged-in {
		display: flex;
		flex-direction: column;

		.profile {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin: 30px 0px;

			.profile-details {
				display: flex;
				align-items: center;

				img {
					width: 45px;
					height: 45px;
					border-radius: 50%;
				}

				.profile-name {
					display: inline-block;
					padding-left: 8px;
					width: 80px;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}

			.profile-buttons {
				display: block;

				.btn:first-child {
					margin-right: 10px;
				}
			}
		}

		@media (max-width: 576px) {
			flex-direction: row;
		}
	}

	.menu {
		.btn-primary, .btn-secondary {
			margin: 30px 0px;
		}

		ul {
			list-style: none;
			color: $ero-gray;
			padding: 0px;
			margin: 0px;

			li.menu-item {
				font-size: 0.9rem;
				display: flex;
				align-items: center;

				&.active {
					a {
						color: $brand-primary;
					}
				}

				a {
					padding: 5px 10px;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					width: 100%;

					.icon-wrapper {
						min-width: 30px;
						display: flex;
						justify-content: center;

						i {
						  font-size: 16px;

						  &.ero-groups {
						    font-size: 14px;
						  }

						  &.ero-hotline {
						    font-size: 17px;
						  }

						  &.ero-messages {
						    font-size: 13px;
						  }

						  &.ero-eye {
						    font-size: 18px;
						  }

						  &.ero-new-people {
						    font-size: 18px;
						  }

						  &.ero-new-trips {
						    font-size: 18px;
						  }

						  &.ero-unlocked {
						    font-size: 18px;
						  }

						  &.ero-locker {
						    font-size: 19px;
						  }

						}
					}

					.label {
						margin-left: 15px;
					}
				}
			}
		}
	}

	// tablet
	@media (min-width: 768px) and (max-width: 1199px) {
		width: 80px;
		left: 0px;
		padding: 0px 12px;
		border-right: 1px solid;
		border-color: #eee;
		transition: width 0.3s ease;
		overflow: hidden;

		.logged-in {
			align-items: center;

			.profile {
				width: 45px;
				margin: 20px 0px;
				transition: all 0.3s ease;

				.profile-details {
					.profile-name {
						width: 0px;
						transition: width 0.3s ease;
					}
				}
				.profile-buttons {
					min-width: 91px;
				}
			}

			.logged-in-buttons {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				overflow: hidden;
				height: 180px;
				transition: height 0.3s ease;

				.btn-menu {
					margin: 31px 0px;
					transition: margin 0.3s ease;
				}

				.btn-messages {
					margin: 20px 0px;
					transition: margin 0.3s ease;
				}
			}

		}

		.menu {
			.btn-primary, .btn-secondary {
				padding: 0px;
				height: 0px;
				border: 0px;
				margin: 0px;
				transition: all 0.3s ease;
			}

			ul.main-submenu {
				padding-top: 15px;
				transition: padding 0.3s ease;
				li.menu-item {
					a {
						padding: 10px;
						i {
							font-size: 20px !important;
							transition: font-size 0.3s ease;
						}
					}
				}
			}
		}

		.fadeable {
			opacity: 0;
			transition: opacity 0.3s ease;
		}

		&.open {
			width: 250px;
			transition: all 0.3s ease;
			box-shadow: 20px 0px 20px 2px rgba(0, 0, 0, 0.19);

			.logged-in {
				align-items: center;

				.logged-in-buttons {
					overflow: hidden;
					height: 0px;
					transition: height 0.3s ease;
				}

				.profile {
					width: 226px;
					justify-content: space-between;
					margin: 10px 0px;
					transition: all 0.3s ease;

					.profile-details {
						.profile-name {
							width: 80px;
							display: inline-block;
							transition: width 0.3s ease;
						}
					}
					.profile-buttons {
						min-width: 91px;
					}
				}
			}

			.menu {
				.btn-primary, .btn-secondary {
					padding: 8px 16px;
					height: 36px;
					border: 2px;
					margin: 15px 0px;
					transition: all 0.3s ease;
				}

				ul.main-submenu {
					padding-top: 0px;
					transition: padding 0.3s ease;
					li.menu-item {
						a {
							padding: 5px 10px;

							i {
								font-size: initial !important;
								transition: font-size 0.3s ease;
							}
						}
					}
				}
			}

			.fadeable {
				opacity: 1;
				transition: opacity 0.3s ease;
			}
		}
	}

	// mobile
	@media (max-width: 767px) {
		width: 250px;
		left: -250px;
		padding: 0px 12px;
		transition: left 0.3s ease;

		.logged-in {
			.profile {
				margin: 10px 0px;
			}
		}

		&.open {
			left: 0px;
			top: 0px;
			transition: left 0.3s ease;
			box-shadow: 20px 0px 20px 2px rgba(0, 0, 0, 0.19);

			.logged-in {
				flex-direction: column;
				align-items: center;

				.profile {
					margin: 10px 0px;
				}
			}
		}

		.menu {
			.btn-primary, .btn-secondary {
				margin: 15px 0px;
				padding: 8px 16px;
				height: 36px;
				border: 2px;
				margin: 15px 0px;
			}

			ul {
				li.menu-item {
					a {
						justify-content: flex-start;
						padding: 5px 10px;
					}
				}
			}
		}
	}
}

.navbar {
	position: fixed;
	background: $white;
	z-index: 1;
	width: 100%;
	height: 70px;
	top: 0px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;

	& > img {
		width: 150px;
		margin-top: -0.5rem;
	}
}

// desktop-patch
.desktop-patch {
	position: absolute;
	width: 50%;
	right: 0px;
	.top {
		height: 100px;
		background: #059DC3;
	}
	.bottom {
		height: 250px;
		background: $brand-primary;
	}
}

// search
.search {
	color: $ero-gray;

	.search-header {
		padding: 30px 0px;

		.search-input {
			display: flex;
			align-items: center;

			select {
				min-width: 200px;
			}
		}
	}

	.search-body {
		.form-row {
			margin-bottom: 30px;
		}

		legend {
			font-size: 0.9rem;
		}

		.form-check-input {
			margin-right: 0.5rem;
		}

		.bordered {
			border-right: 2px solid;
			border-color: $ero-gray-lighter;
		}
	}

	.search-footer {
		padding-top: 30px;
		padding-bottom: 30px;
		button {
			min-width: 160px;
		}
	}
}

.people-wrapper {

	@media (max-width: 767px) {
		justify-content: space-between;

		.col-6 {
			-ms-flex: 0 0 40%;
			flex: 0 0 40%;
			max-width: 40%;

			.person {
				.person-photo-wrapper {
					position: relative;

					img {
						border-radius: 50%;
					}
				}
			}

			&:nth-child(3), &:nth-child(6), &:nth-child(9), &:nth-child(12), &:nth-child(15) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				margin-top: -15%;
				margin-bottom: -15%;

				.person {
					width: calc(40% - 15px - 3px);
					margin: auto;

					.person-photo-wrapper {
						position: relative;

						img {
							border-radius: 50%;
						}
					}
				}
			}
		}
	}

}

.person {
	position: relative;
	cursor: pointer;

	&:hover:not(.locked) {
		.person-photo-wrapper {
			.person-actions {
				opacity: 1;
				transition: opacity 0.3s ease;
			}
		}
	}

	&.locked {
		.person-photo-wrapper {
			img {
				filter: blur(5px);
			}
			.locker {
				opacity: 1;
			}
		}
	}

	.person-photo-wrapper {
		position: relative;

		img {
			max-width: 100%;
			max-height: 100%;
			border-radius: 8%;
		}

		.person-actions {
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			z-index: 1;

			opacity: 0;
			transition: opacity 0.3s ease;

			display: flex;
			align-items: center;
			justify-content: center;
		}

		.person-photo-amount {
			background: rgba(62, 62, 62, 0.66);
			border-radius: 5px;
			color: #fff;
			padding: 5px;
			position: absolute;
			top: 15px;
			left: 15px;
			display: flex;
			align-items: center;
			font-size: 18px;

			.amount {
				font-family: 'GothamRoundedBook';
				display: inline-block;
				padding-left: 5px;
				line-height: 18px;
				height: 16px;
				font-size: 14px;
			}
		}

		.locker {
			opacity: 0;

			background: $btn-secondary-bg;
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 20px;
			width: 70px;
			height: 70px;
			margin-top: -35px;
			margin-left: -35px;
			z-index: 1;
	    display: flex;
	    align-items: center;
	    justify-content: center;

			i.ero-locker {
				color: $white;
				font-size: 40px;
			}
		}
	}

	.person-info {
		padding-top: 20px;
		padding-bottom: 20px;

		.person-status {
			height: 10px;
			width: 10px;
			min-width: 10px;
			border-radius: 10px;
			margin: 6px 10px 0px 0px;

			@media (max-width: 767px) {
				position: absolute;
				top: 0px;
				border: 4px #fff solid;
				margin: 0px;
				height: 25px;
				width: 25px;
				border-radius: 20px;
				left: 50%;
				margin-top: -13px;
				margin-left: -12.5px;
			}

			&.online {
				background: $online;
			}

			&.away {
				background: $away;
			}

			&.offline {
				background: $offline;
			}
		}

		.person-details {
			width: calc(100% - 20px);

			.person-name-age {
				display: flex;
				justify-content: flex-start;

				h5.person-name {
					max-width: calc(100% - 25px);
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;

					.coma {
						display: inline-block;
				    margin-left: -5px;
				    margin-right: -5px;
					}

					@media (max-width: 767px) {
						width: 90%;
						text-overflow: ellipsis;
						overflow: hidden;
						text-align: center;
					}
				}

				.person-age {
					margin-left: 0.5rem;
					@media (max-width: 767px) {
						margin: 0rem;
					}
				}

				@media (max-width: 767px) {
					font-family: 'GothamRoundedBook';
					justify-content: center;
					flex-direction: column;
					align-items: center;
				}
			}

			.preson-city {
				font-family: 'GothamRoundedBook';
			}

			@media (max-width: 767px) {
				width: 100%;
			}
		}
	}
}

.pagination {
	width: 100%;

	.page-item.previous, .page-item.next {
		// display: flex;
		// align-items: center;

		.page-link {
			height: 38px;
			border-color: transparent;
			padding: 11px 3px;
			display: flex;
			align-items: center;

			&:hover {
				color: $btn-secondary-bg;
				background: transparent;
			}
		}

		i {
			color: $btn-secondary-bg;
		}
	}

	.page-item.disabled {
		opacity: 0.5;
	}

	.page-wrapper {
		display: flex;
		align-items: center;

		.page-item {
			.page-link {
				border-radius: 50px;
				width: 38px;
				height: 38px;
				line-height: 22px;
				text-align: center;
				margin: 0px 2px;
			}
		}
	}
}

.footer {
	height: 150px;
	display: flex;
	align-items: center;
	background: $brand-primary;
	font-family: 'GothamRoundedBook';

	.row {
		width: 100%;

		.col {
			border-right: 1px solid #fff;

			&:last-child {
				border-right: 0px solid #fff;
			}
		}
	}

	.footer-stats-wrapper {
		display: flex;
		align-items: center;
		height: 100%;
		justify-content: center;

		.footer-stats {
			width: 100%;
			padding: 20px;
			text-align: center;
			color: $white;

			.name {
				font-size: 12px;
			}

			.number {
				font-size: 20px;
			}
		}
	}
}

.footer-info {
	display: flex;
	justify-content: center;

	.footer-info-text {
		padding: 35px;
		max-width: 300px;
	}
}



