// global
@font-face {
	font-family: 'GothamRoundedMedium';
	src: asset-url("GothamRoundedMedium.otf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'GothamRoundedBook';
	src: asset-url("GothamRoundedBook.otf");
	font-style: normal;
	font-weight: normal;
}

body {
	font-family: 'GothamRoundedMedium';
	font-size: 14px;
}

.main-container {
	margin-top: 0px;

	@media (min-width: 768px) and (max-width: 1199px) {
		margin-left: 80px;
		width: calc(100% - 80px);
	}

	@media (max-width: 768px) {
		margin-top: 70px;
		width: 100%;
	}
}

.patch {
	@media (min-width: 1199px) {
		width: calc( (1140px * 0.75) + ((100vw - 1140px)/2) );
		position: absolute;
		background: inherit;
		top: 0px;
		bottom: 0px;
		left: 0px;
		z-index: -1;
	}
}

.divider {
	height: 1px;
	width: 100%;
	background: $ero-gray-lighter;
}

.text-secondary {
	color: $secondary-color;
}

.text-secondary-i {
	color: $secondary-color !important;
}

.text-gray {
	color: $ero-gray;
}

.text-book {
	font-family: 'GothamRoundedBook';
}

.border-bottom {
	border-bottom: 1px solid $ero-gray-light;
}

.streach-me {
	// artificial negative margin for selected layout elements
	margin-left: -15px;
	margin-right: -15px;
}

// layout parts
.modal {
	&.fadeable {
		opacity: 0.3;
		@include transition(opacity 0.3s ease-in-out);
		&.show {
			opacity: 1;
		}
	}
	.modal-header {
		background: $primary-color;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    justify-content: center;
    padding: 2rem;
    min-height: 120px;

    .modal-title {
    	color: $white;
    	font-size: 24px;
    	font-family: 'GothamRoundedBook';
    }

    button {
    	position: absolute;
	    right: 16px;
	    top: 16px;
    	span {
    		opacity: 0.5;
    	}
    }
	}

	.modal-body {
		font-family: 'GothamRoundedBook';
		color: $ero-gray;
		padding: 2rem;
	}

	.modal-footer {
		border: none;
		padding: 2rem;
	}
}

.featured {
	background: $primary-color-dark;
	display: flex;
	align-items: center;
	padding: 0px 15px;
	position: relative;

	&.featured-large {
		.img-wrapper {
			padding: 22px 15px;
			img {
				height: 96px;
				width: 96px;
			}
		}
	}

	@media (max-width: 1199px) {
		padding: 0px 15px;
	}

	@media (max-width: 768px) {
		padding: 0px;
	}

	.img-wrapper {
		padding: 15px;

		img {
			height: 70px;
			width: 70px;
			border-radius: 50%;
		}
	}
}

// group-details
.group-details {
	background: $brand-primary;
	padding: 30px 60px 30px 30px;
	position: relative;

	@media (max-width: 768px) {
		padding: 15px 45px 15px 15px;
	}

	.group-details-wrapper {
		position: relative;
		height: 100%;
		border-radius: 25px;
		background: $white;
		padding: 15px 30px 15px 15px;

		a {
			height: 100%;
		}

		img {
			border-radius: 25%;
			margin-right: 15px;
			max-height: 100%;
			max-width: 66px;

			@media (min-width: 767px) {
				border-radius: 25px;
				max-height: 100%;
				max-width: 120px;
			}

			@media (min-width: 1199px) {
				border-radius: 25px;
				max-height: 100%;
				max-width: inherit;
				max-width: 160px;
			}
		}

		.text {
			.group-info {
				display: flex;
				align-items: center;

				p {
					padding-right: 40px;
					&:last-child {
						padding-right: 0px;
					}
				}

				@media (max-width: 767px) {
					flex-direction: column;
					align-items: flex-start;
				}
			}
		}

		.btn-plus {
			position: absolute;
			right: -30px;
			top: 15%;

			@media (max-width: 767px) {
				top: 8%;
			}
		}

		.btn-eye {
			position: absolute;
			right: -30px;
			bottom: 15%;
		}
	}
}

.group-details.group-details-gray {
	padding: 0px 45px 30px 15px;
	background: transparent;

	&:last-child {
		padding: 0px 45px 0px 15px;
	}

	.group-details-wrapper {
		background: $ero-gray-lightest;

		.btn-plus {
			border-color: #fff;
		}

		.btn-group-wrapper {
			position: absolute;
			right: -30px;
			bottom: 15%;
		}

	}
}

// hotline
.hotline {
	background: $brand-primary;
	padding: 30px 60px 30px 30px;
	min-height: 190px;
	position: relative;

	@media (max-width: 768px) {
		padding: 15px 45px 15px 15px;
	}

	.details-wrapper {
		padding: 15px 90px 15px 15px;
		position: relative;
		height: 100%;
		border-radius: 25px;
		background: $white;

		img {
			border-radius: 25%;
			margin-right: 15px;
			max-height: 100%;
			max-width: 66px;

			@media (min-width: 767px) {
				border-radius: 25px;
				max-height: 100%;
				max-width: 120px;
			}

			@media (min-width: 1199px) {
				border-radius: 25px;
				max-height: 100%;
				max-width: inherit;
				max-width: 160px;
			}
		}

		.btn-top {
			position: absolute;
			right: -30px;
			top: 8%;

			@media (max-width: 767px) {
				top: 8%;
			}
		}

		.btn-bottom, .btn-group-wrapper {
			position: absolute;
			right: -30px;
			bottom: 15%;
		}

		.btn-special-wrapper {
			display: flex;
			flex-direction: column;

			position: absolute;
			right: -30px;
			bottom: 8%;

			.label {
				position: absolute;
				width: 50px;
				text-align: center;
				bottom: 15px;
				left: -53px;
			}
		}

		.profile-info-wrapper {
			display: flex;
			align-items: center;

			.profile-info {

				.profile-info-upper {
					display: flex;
					align-items: center;

					.person-status {
						height: 10px;
						width: 10px;
						min-width: 10px;
						border-radius: 10px;
						margin-right: 10px;
						margin-bottom: 2px;

						&.online {
							background: $online;
						}

						&.away {
							background: $away;
						}

						&.offline {
							background: $offline;
						}
					}
				}
			}
		}
	}
}

.hotline.hotline-gray {
	padding: 0px 45px 30px 15px;
	background: transparent;

	&:last-child {
		padding: 0px 45px 0px 15px;
	}

	.details-wrapper {
		background: $ero-gray-lightest;

		.btn-top {
			top: 15%;
		}
	}
}


.sidebar {
	position: fixed;
	width: calc(1140px * 0.25); // (1140px - 30px) * 0.25 this is for 1140px container
	left: calc((100% - (1140px))/2);
	padding: 15px 27px;
	background: $white;
	z-index: 2;
	top: 0px;
	bottom: 0px;
	overflow-y: auto;
	z-index: 4;

	.logo-wrapper {
		margin-bottom: 29px;
		text-align: center;
	}

	.logged-out {
		text-align: center;
		padding: 30px 15px;
		border-top: 1px $ero-gray-lighter solid;
		border-bottom: 1px $ero-gray-lighter solid;
	}

	.logged-in {
		display: flex;
		flex-direction: column;

		.profile {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin: 30px 0px;

			.profile-details {
				width: 100%;
				display: flex;
				align-items: center;

				img {
					width: 45px;
					height: 45px;
					border-radius: 50%;
				}

				.profile-more-details-wrapper {
					width: calc( 100% - 45px );
					display: flex;
					flex-direction: column;

					.profile-more-details {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: flex-start;

						@media (min-width: 1199px) {
							margin-top: -10px;

							.btn-settings {
								border-color: transparent;
							}
						}

						.profile-name {
							display: inline-block;
							padding-left: 8px;
							max-width: calc(100% - 38px);
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;

							@media (max-width: 1199px) {
								color: $ero-gray;
							}
						}
					}

					.profile-log-out {
						padding-left: 8px;
						margin-top: -10px;
					}
				}
			}
		}

		@media (max-width: 576px) {
			flex-direction: row;
		}
	}

	.menu {
		.btn-primary, .btn-secondary {
			margin: 30px 0px;
		}

		ul {
			list-style: none;
			color: $ero-gray;
			padding: 0px;
			margin: 0px;

			li.menu-item {
				font-size: 0.9rem;
				display: flex;
				align-items: center;

				&.active {
					a {
						color: $brand-primary;
					}
				}

				&:hover {
					a {
						color: $brand-primary;
					}
				}

				a {
					padding: 5px 10px;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					width: 100%;

					.icon-wrapper {
						min-width: 30px;
						display: flex;
						justify-content: center;

						i {
						  font-size: 16px;

						  &.ero-groups {
						    font-size: 14px;
						  }

						  &.ero-hotline {
						    font-size: 17px;
						  }

						  &.ero-messages {
						    font-size: 13px;
						  }

						  &.ero-eye {
						    font-size: 18px;
						  }

						  &.ero-new-people {
						    font-size: 18px;
						  }

						  &.ero-new-trips {
						    font-size: 18px;
						  }

						  &.ero-unlocked {
						    font-size: 18px;
						  }

						  &.ero-locker {
						    font-size: 19px;
						  }

						}
					}

					.label {
						margin-left: 15px;
					}
				}
			}
		}
	}

	// tablet
	@media (min-width: 768px) and (max-width: 1199px) {
		width: 80px;
		left: 0px;
		padding: 0px 12px;
		border-right: 1px solid;
		border-color: #eee;
		transition: width 0.3s ease;
		overflow: hidden;

		.logged-out {
			display: none;
		}

		.logged-in {
			align-items: center;

			.profile {
				width: 45px;
				margin: 20px 0px;
				transition: all 0.3s ease;
			}

			.logged-in-buttons {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				overflow: hidden;
				height: 180px;
				transition: height 0.3s ease;

				.btn-menu {
					margin: 31px 0px;
					transition: margin 0.3s ease;
				}

				.btn-messages {
					margin: 20px 0px;
					transition: margin 0.3s ease;
				}
			}

		}

		.menu {
			.btn-primary, .btn-secondary {
				padding: 0px;
				height: 0px;
				border: 0px;
				margin: 0px;
				transition: all 0.3s ease;
			}

			ul.main-submenu {
				padding-top: 15px;
				transition: padding 0.3s ease;
				li.menu-item {
					a {
						padding: 10px;
						i {
							font-size: 20px !important;
							transition: font-size 0.3s ease;
						}
					}
				}
			}
		}

		.fadeable {
			opacity: 0;
			transition: opacity 0.3s ease;
		}

		&.open {
			width: 250px;
			transition: all 0.3s ease;
			box-shadow: 20px 0px 20px 2px rgba(0, 0, 0, 0.19);

			.logged-in {
				align-items: center;

				.logged-in-buttons {
					overflow: hidden;
					height: 0px;
					transition: height 0.3s ease;
				}

				.profile {
					width: 226px;
					justify-content: space-between;
					margin: 10px 0px;
					transition: all 0.3s ease;
				}
			}

			.menu {
				.btn-primary, .btn-secondary {
					padding: 8px 16px;
					height: 36px;
					border: 2px;
					margin: 15px 0px;
					transition: all 0.3s ease;
				}

				ul.main-submenu {
					padding-top: 0px;
					transition: padding 0.3s ease;
					li.menu-item {
						a {
							padding: 5px 10px;

							i {
								font-size: initial !important;
								transition: font-size 0.3s ease;
							}
						}
					}
				}
			}

			.fadeable {
				opacity: 1;
				transition: opacity 0.3s ease;
			}
		}
	}

	// mobile
	@media (max-width: 767px) {
		width: 250px;
		left: -250px;
		padding: 0px 12px;
		transition: left 0.3s ease;

		.logged-in {
			.profile {
				margin: 10px 0px;
			}
		}

		&.open {
			left: 0px;
			top: 0px;
			transition: left 0.3s ease;
			box-shadow: 20px 0px 20px 2px rgba(0, 0, 0, 0.19);

			.logged-in {
				flex-direction: column;
				align-items: center;

				.profile {
					margin: 10px 0px;
				}
			}
		}

		.menu {
			.btn-primary, .btn-secondary {
				margin: 15px 0px;
				padding: 8px 16px;
				height: 36px;
				border: 2px;
				margin: 15px 0px;
			}

			ul {
				li.menu-item {
					a {
						justify-content: flex-start;
						padding: 5px 10px;
					}
				}
			}
		}
	}
}

.navbar {
	position: fixed;
	background: $white;
	z-index: 3;
	height: 70px;
	left: 0px;
	right: 0px;
	top: 0px;
	border-bottom: $ero-gray-light solid 1px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;

	& > img {
		width: 150px;
		margin-top: -0.5rem;
	}
}

// desktop-patch
.desktop-patch {
	position: absolute;
	width: 50%;
	right: 0px;
	.top {
		height: 100px;
		background: #059DC3;
	}
	.bottom {
		height: 250px;
		background: $brand-primary;
	}
}

// desktop-patch
.profile-patch {
	position: absolute;
	width: 50%;
	right: 0px;
	.top {
		height: 100px;
		background: #059DC3;
	}
	.bottom {
		height: 150px;
		background: $brand-primary;
	}
}

// search
.search {
	font-family: 'GothamRoundedBook';
	color: $ero-gray;

	.search-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 30px 0px;

		.search-input {
			display: flex;
			align-items: center;

			.Select {
				min-width: 200px;
			}
		}
	}

	.search-body {
		height: 0px;
		transition: height 0.3s ease;
		overflow-x: hidden;

		&.open {
			height: 423px;
			transition: height 0.3s ease;
		}

		@media (max-width: 1199px) {
			.search-preferences {
				order: 0;
			}

			.location {
				order: 2;
			}

			.age {
				order: 1;
			}

			.location-range {
				order: 3;
			}

			.height {
				order: 4;
			}

			.options {
				order: 5;
			}

			.search-footer {
				order: 6;
			}
		}

		@media (max-width: 768px) {
			height: 100%;
			position: fixed;
			top: 0px;
			left: -100%;
			bottom: 0px;
			width: 100%;

			background: #fff;
			z-index: 3;
			overflow-y: auto;
			padding-top: 85px;
			margin: 0px;
			transition: left 0.3s ease;

			&.open {
				height: 100%;
				left: 0%;
				transition: left 0.3s ease;
			}
		}

		.search-header-mobile {
			position: fixed;
			height: 70px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			z-index: 5;
			background: #fff;
			margin-top: -85px;
			border-bottom: 1px solid #ccc;
		}

		.form-row {
			margin-bottom: 30px;
		}

		.form-group {
			margin-bottom: 1.5rem;
		}

		legend {
			font-size: 0.9rem;
		}

		.form-check-input {
			margin-right: 0.5rem;
		}

		.bordered {
			border-right: 2px solid;
			border-color: $ero-gray-lighter;
		}

		label {
			margin-bottom: 0.2rem;
		}
	}

	.search-footer {
		padding-top: 30px;
		padding-bottom: 30px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (min-width: 768px) and (max-width: 1199px) {
			justify-content: space-between;
		}

		button {
			min-width: 160px;
		}
	}

}

.people-wrapper {

	@media (max-width: 767px) {
		justify-content: space-between;

		.col-6 {
			-ms-flex: 0 0 40%;
			flex: 0 0 40%;
			max-width: 40%;

			.person {
				.person-photo-wrapper {
					position: relative;

					img {
						border-radius: 50%;
					}
				}
			}

			&:nth-child(3), &:nth-child(6), &:nth-child(9), &:nth-child(12), &:nth-child(15) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				margin-top: -15%;
				margin-bottom: -15%;

				.person {
					width: calc(40% - 15px - 3px);
					margin: auto;

					.person-photo-wrapper {
						position: relative;

						img {
							border-radius: 50%;
						}
					}
				}
			}
		}
	}

}

.person {
	position: relative;
	cursor: pointer;

	&:hover:not(.locked) {
		.person-photo-wrapper {
			.person-actions {
				opacity: 1;
				transition: opacity 0.3s ease;
			}
		}
	}

	&.locked {
		.person-photo-wrapper {
			img {
				filter: blur(5px);
			}
			.locker {
				opacity: 1;
			}
		}
	}

	.person-photo-wrapper {
		position: relative;

		img {
			max-width: 100%;
			max-height: 100%;
			border-radius: 8%;
		}

		.person-actions {
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			z-index: 1;

			opacity: 0;
			transition: opacity 0.3s ease;

			display: flex;
			align-items: center;
			justify-content: center;
		}

		.person-photo-amount {
			background: rgba(62, 62, 62, 0.66);
			border-radius: 5px;
			color: #fff;
			padding: 5px;
			position: absolute;
			top: 15px;
			left: 15px;
			display: flex;
			align-items: center;
			font-size: 18px;

			.amount {
				font-family: 'GothamRoundedBook';
				display: inline-block;
				padding-left: 5px;
				line-height: 18px;
				height: 16px;
				font-size: 14px;
			}
		}

		.locker {
			opacity: 0;

			background: $btn-secondary-bg;
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 20px;
			width: 70px;
			height: 70px;
			margin-top: -35px;
			margin-left: -35px;
			z-index: 1;
	    display: flex;
	    align-items: center;
	    justify-content: center;

			i.ero-locker {
				color: $white;
				font-size: 40px;
			}
		}
	}

	.person-info {
		padding-top: 20px;
		padding-bottom: 20px;

		.person-status {
			height: 10px;
			width: 10px;
			min-width: 10px;
			border-radius: 10px;
			margin: 6px 10px 0px 0px;

			@media (max-width: 767px) {
				position: absolute;
				top: 0px;
				border: 4px #fff solid;
				margin: 0px;
				height: 25px;
				width: 25px;
				border-radius: 20px;
				left: 50%;
				margin-top: -13px;
				margin-left: -12.5px;
			}

			&.online {
				background: $online;
			}

			&.away {
				background: $away;
			}

			&.offline {
				background: $offline;
			}
		}

		.person-details {
			width: calc(100% - 20px);

			.person-name-age {
				display: flex;
				justify-content: flex-start;

				h5.person-name {
					max-width: calc(100% - 25px);
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;

					.coma {
						display: inline-block;
				    margin-left: -5px;
				    margin-right: -5px;
					}

					@media (max-width: 767px) {
						width: 90%;
						text-overflow: ellipsis;
						overflow: hidden;
						text-align: center;
					}
				}

				.person-age {
					margin-left: 0.5rem;
					@media (max-width: 767px) {
						margin: 0rem;
					}
				}

				@media (max-width: 767px) {
					font-family: 'GothamRoundedBook';
					justify-content: center;
					flex-direction: column;
					align-items: center;
				}
			}

			.preson-city {
				font-family: 'GothamRoundedBook';
			}

			@media (max-width: 767px) {
				width: 100%;
			}
		}
	}
}

.pagination {
	width: 100%;

	.page-item.previous, .page-item.next {
		// display: flex;
		// align-items: center;

		.page-link {
			height: 38px;
			border-color: transparent;
			padding: 11px 3px;
			display: flex;
			align-items: center;

			&:hover {
				color: $btn-secondary-bg;
				background: transparent;
			}
		}

		i {
			color: $btn-secondary-bg;
		}
	}

	.page-item.disabled {
		opacity: 0.5;
	}

	.page-wrapper {
		display: flex;
		align-items: center;

		.page-item {
			.page-link {
				border-radius: 50px;
				width: 38px;
				height: 38px;
				line-height: 22px;
				text-align: center;
				margin: 0px 2px;
			}
		}
	}
}

.footer {
	height: 150px;
	display: flex;
	align-items: center;
	background: $brand-primary;
	font-family: 'GothamRoundedBook';
	position: relative;

	.row {
		width: 100%;

		.col {
			border-right: 1px solid #fff;
		}
	}

	.footer-stats-wrapper {
		display: flex;
		align-items: center;
		height: 100%;
		justify-content: center;

		.footer-stats {
			width: 100%;
			padding: 20px;
			text-align: center;
			color: $white;

			.name {
				font-size: 12px;
			}

			.number {
				font-size: 20px;
			}
		}
	}
}

.footer-info {
	display: flex;
	justify-content: center;

	.footer-info-text {
		padding: 35px;
		max-width: 300px;
	}
}

// PROFILE
.profile-info-bar {
	background: $primary-color-dark;

	@media (min-width: 1199px) {
		width: calc( (1140px * 0.75) + ((100vw - 1140px)/2) );
	}

	.profile-info-bar-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;

		height: 100px;
		padding: 0px 15px;

		@media (min-width: 1199px) {
			width: calc(1140px * 0.75);
		}
	}

	.profile-info-wrapper {
		display: flex;
		align-items: center;

		.profile-info {

			.profile-info-upper {
				display: flex;
				align-items: center;

				.person-status {
					height: 10px;
					width: 10px;
					min-width: 10px;
					border-radius: 10px;
					margin-right: 10px;
					margin-bottom: 2px;

					&.online {
						background: $online;
					}

					&.away {
						background: $away;
					}

					&.offline {
						background: $offline;
					}
				}
			}
		}
	}
}

.profile-gallery {
	height: 550px;
	background: $ero-gray-dark;
	@media (min-width: 1199px) {
		width: calc( (1140px * 0.75) + ((100vw - 1140px)/2) );
	}

	.profile-gallery-inner {
		height: 100%;
		display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @media (min-width: 1199px) {
    	width: calc(1140px * 0.75);
    }

    .gallery-count {
    	display: flex;
    	align-items: center;
    	justify-content: center;

    	position: absolute;
    	top: 30px;
    	left: 30px;

    	height: 50px;
    	width: 50px;
    	border-radius: 50%;
    	background: #000;
    	color: $white;
    	font-family: 'GothamRoundedBook';
    }

    .action-buttons {
    	position: absolute;
    	top: 30px;
    	right: 130px;

    	button {
    		&:hover {
    			opacity: 0.5;
    		}
    	}
    }

    .gallery-close {
    	position: absolute;
    	top: 30px;
    	right: 30px;

    	button {
    		&:hover {
    			opacity: 0.5;
    		}
    	}
    }

    .chevron-left-big {
    	position: absolute;
    	top: 50%;
    	left: 20px;

    	display: flex;
    	align-items: center;
    	justify-content: center;

    	height: 100px;
    	width: 50px;
    	margin-top: -25px;
    	text-decoration: none;
    	color: $white;
    	cursor: pointer;
    	&:hover {
    		color: $white;
    		opacity: 0.5;
    	}

    	i {
    		font-size: 50px;
    	}
    }

    .chevron-right-big {
    	position: absolute;
    	top: 50%;
    	right: 20px;

    	display: flex;
    	align-items: center;
    	justify-content: center;

    	height: 100px;
    	width: 50px;
    	margin-top: -25px;
    	text-decoration: none;
    	color: $white;
    	cursor: pointer;
    	&:hover {
    		color: $white;
    		opacity: 0.5;
    	}

    	i {
    		font-size: 50px;
    	}
    }

	}
}

.profile-photos-bar {
	height: 150px;
	background: $primary-color;

	@media (min-width: 1199px) {
		width: calc( (1140px * 0.75) + ((100vw - 1140px)/2) );
	}

	.profile-photos-bar-inner {
		@media (min-width: 1199px) {
			width: calc(1140px * 0.75);
		}
	}

	.verification {
		height: 150px;
		width: 150px;
		font-family: 'GothamRoundedBook';
		position: relative;

		.verification-text-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			background: rgba(25, 131, 156, 0.66);

			.verification-text {
				line-height: 1em;
			}
		}

		.verification-img {
			max-width: 100%;
			height: auto;
		}
	}

	.add-photo {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		height: 150px;
		width: 150px;
		background: $secondary-color;
		font-family: 'GothamRoundedBook';

		&:hover {
			background: $secondary-color-dark;
		}
	}

	.photos {
		display: flex;
		position: relative;

		.photo {
			position: relative;
			height: 150px;
			width: 150px;
			display: inline-block;

			&:hover {
				.photo-action-buttons {
					opacity: 1;
					@include transition(opacity 0.3s ease);
				}
			}

			.photo-action-buttons {
				position: absolute;
				top: 10px;
				right: 0px;

				opacity: 0;
				@include transition(opacity 0.3s ease);

				button {
					&:hover {
						opacity: 0.5;
					}
				}
			}

			.confirm-deletion {
				position: absolute;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				background: rgba(51, 51, 51, 0.7);
				font-family: 'GothamRoundedBook';

				top: 0px;
				bottom: 0px;
				right: 0px;
				left: 0px;

				z-index: 1;
			}
		}

		button.left {
			position: absolute;
	    top: 50%;
	    margin-top: -16px;
	    left: 15px;
		}

		button.right {
			position: absolute;
	    top: 50%;
	    margin-top: -16px;
	    right: 15px;
		}
	}

}

.profile-details {
	.profile-avatar {
		border-radius: 50%;
		overflow: hidden;
		position: relative;

		height: 70px;
		width: 70px;

		.change {
			position: absolute;
			height: 70px;
			width: 70px;

			display: flex;
			align-items: center;
			justify-content: center;
			background: rgba(51, 51, 51, 0.5);
			color: $white;
			cursor: pointer;

			opacity: 0;
			@include transition(opacity 0.3s ease);

			&:hover {
				opacity: 1;
				@include transition(opacity 0.3s ease);
			}
		}

		img {
			max-height: 100%;
			max-width: 100%;
		}
	}

	.profile-decription {
		.profile-preferences {
			.border-right {
				border-right: 1px solid $ero-gray-lighter;
				@media (max-width: 767px) {
					border-right: none;
				}
			}
		}
	}
}

.profile-block {
	display: flex;
	justify-content: center;
	button {
		min-width: 230px;
	}
}

.pin {
	padding: 30px;
  background: $ero-gray-lightest;
  margin-bottom: 3rem;
  border-radius: 10px;

  input {
  	min-width: 240px;
  }

  .btn-secondary {
  	min-width: 160px;
  }
}

.settings {
	.settings-body {
		font-size: 16px;
		.settings-text {
			display: flex;
			align-items: center;
			height: 100%;
		}
	}
}

.notifications {
	.notifications-body {
		font-size: 16px;
		.form-check-inline + .form-check-inline {
			margin-left: 5.5rem !important;
		}
	}
}

.inputs {
	.inputs-body {
		font-size: 16px;
	}
}

.messenger {
	.messenger-backdrop {
		width: calc( (1140px * 0.75) + ((100vw - 1140px)/2) );
		position: fixed;
		background: rgba(0, 0, 0, 0.5);
		top: 0px;
		bottom: 0px;
		right: 0px;
		z-index: 1;

		.messenger-body {
			background: $white;
			margin: 30px;
			height: calc(100% - 60px);
			width: calc(1140px * 0.75);
			border-radius: 5px;
			overflow: hidden;

			display: flex;
			align-items: center;

			.messenger-sidebar {
				height: 100%;
				width: 33%;
				border-right: 1px solid $ero-gray-lighter;

				.messenger-search {
					display: flex;
					align-items: center;

					height: 90px;
					border-bottom: 1px solid $ero-gray-lighter;

					.form-group {
						width: 100%;
						padding: 15px;
					}
				}

				.messenger-list-wrapper {
					height: calc(100% - 90px);
					overflow-y: auto;

					.messenger-list {
						.m-group, .m-person, .m-trip {
							display: flex;
							align-items: space-between;
							height: 70px;

							&.active {
								background: #F2F4F5;

								&:hover {
									background: $ero-gray-lighter;
								}
							}

							&:hover {
								background: #F2F4F5;
							}
						}

						.m-person {
							display: flex;
							align-items: center;

							width: 100%;
							padding: 5px 15px;

							.m-person-image-wrapper {
								position: relative;

								img {
									width: 50px;
									height: 50px;
									min-width: 50px;
									border-radius: 50%;
									margin-right: 15px;
								}

								.m-person-locker {
									display: flex;
									align-items: center;
									justify-content: center;

									font-size: 22px;
									position: absolute;
									top: 5px;
									left: 5px;
									width: 40px;
									height: 40px;
									color: $white;
									background: $secondary-color;
									border-radius: 50%;
								}
							}

							.m-person-details {
								width: calc(100% - 65px);
								display: flex;
								flex-direction: column;

								.m-person-header {
									display: flex;
									align-items: center;
									justify-content: space-between;

									font-size: 16px;
									width: 100%;

									.m-person-text {
										display: inline-block;
										max-width: 100%;
										text-overflow: ellipsis;
										overflow: hidden;
										white-space: nowrap;
									}
								}

								.m-person-description {
									display: inline-block;
									width: 100%;
									text-overflow: ellipsis;
									overflow: hidden;
									white-space: nowrap;
								}
							}
						}

						.m-group {
							display: flex;
							align-items: center;

							width: 100%;
							padding: 5px 15px;

							.m-group-counter {
								width: 50px;
								height: 50px;
								min-width: 50px;
								border-radius: 50%;
								margin-right: 15px;

								background: $ero-gray;
								color: $white;

								display: flex;
								align-items: center;
								justify-content: center;
								font-family: 'GothamRoundedBook';
								font-size: 18px;
							}

							.m-group-details {
								width: calc(100% - 65px);
								display: flex;
								flex-direction: column;

								.m-group-header {
									display: flex;
									align-items: center;
									justify-content: space-between;

									font-size: 16px;
									width: 100%;

									.m-group-text {
										display: inline-block;
										max-width: calc(100% - 65px);
										text-overflow: ellipsis;
										overflow: hidden;
										white-space: nowrap;
									}

									.m-group-amount {
										width: 65px;
										text-align: right;
										font-size: 11px;
										text-overflow: ellipsis;
										overflow: hidden;
										white-space: nowrap;
									}
								}

								.m-group-description {
									display: inline-block;
									width: 100%;
									text-overflow: ellipsis;
									overflow: hidden;
									white-space: nowrap;
								}
							}
						}

						.m-trip {
							display: flex;
							align-items: center;

							width: 100%;
							padding: 5px 15px;

							.m-trip-counter {
								width: 50px;
								height: 50px;
								min-width: 50px;
								border-radius: 50%;
								margin-right: 15px;

								background: $secondary-color;
								color: $white;

								display: flex;
								align-items: center;
								justify-content: center;
								font-family: 'GothamRoundedBook';
								font-size: 18px;
							}

							.m-trip-details {
								width: calc(100% - 65px);
								display: flex;
								flex-direction: column;

								.m-trip-header {
									display: flex;
									align-items: center;
									justify-content: space-between;

									font-size: 16px;
									width: 100%;

									.m-trip-text {
										display: inline-block;
										max-width: calc(100% - 65px);
										text-overflow: ellipsis;
										overflow: hidden;
										white-space: nowrap;
									}

									.m-trip-amount {
										width: 65px;
										text-align: right;
										font-size: 11px;
										text-overflow: ellipsis;
										overflow: hidden;
										white-space: nowrap;
									}
								}

								.m-trip-description {
									display: inline-block;
									width: 100%;
									text-overflow: ellipsis;
									overflow: hidden;
									white-space: nowrap;
								}
							}
						}

					}
				}
			}

			.messenger-main {
				height: 100%;
				width: 67%;

				.messenger-header {
					height: 90px;
					padding: 15px 0px 15px 30px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-bottom: 1px solid $ero-gray-lighter;

					.messenger-profile-wrapper {
						display: flex;
						align-items: center;

						.messenger-profile-picture img{
							border-radius: 50%;
							overflow: hidden;
							position: relative;

							height: 60px;
							width: 60px;
						}

						.messenger-profile-info {
							.messenger-profile-info-upper {
								display: flex;
								align-items: center;

								.messenger-person-status {
									height: 10px;
									width: 10px;
									min-width: 10px;
									border-radius: 10px;
									margin-right: 10px;
									margin-bottom: 2px;

									&.online {
										background: $online;
									}

									&.away {
										background: $away;
									}

									&.offline {
										background: $offline;
									}
								}
							}
						}
					}
				}

				.messenger-chat-wrapper {
					height: calc(100% - 90px - 70px);
					overflow-y: auto;

					.messenger-chat {
						display: flex;
						flex-direction: column;

						padding: 30px;
						height: 100%;

						.message-wrapper {
							align-self: flex-start;

							&.mine {
								align-self: flex-end;

								.message {
									float: right;
									color: $white;
									background: $primary-color;

									border-top-left-radius: 25px;
							    border-top-right-radius: 25px;
							    border-bottom-right-radius: 0px;
							    border-bottom-left-radius: 25px;
								}
							}

							.message {
								padding: 12px 17px 10px 17px;
								align-self: flex-start;

								background: $ero-gray-lighter;
								border-top-left-radius: 25px;
								border-top-right-radius: 25px;
								border-bottom-right-radius: 25px;
							}

							.message-timestamp {
								font-family: 'GothamRoundedBook';
								color: $ero-gray;
								font-size: 12px;
								text-align: right;
							}
						}
					}
				}

				.messenger-textarea {
					textarea {
						min-height: 70px;
						border-radius: 0px;
						border: 0px;
						border-top: 1px solid $ero-gray-lighter;
						resize: none;
					}
				}
			}
		}
	}
}




// LOGIN
.modal {
	.modal-body-login {
		padding-left: 65px;
		padding-right: 65px;
	}
}
//END LOGIN